<%- include ("header")  -%>


<h1>This is an about page</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic deleniti ad officia eaque veniam itaque quasi tenetur odio ratione deserunt? Nisi cumque dolorum, aperiam veniam distinctio voluptatum debitis molestias fugiat? Iure distinctio maxime deserunt quis error. Consectetur eligendi maiores quaerat. A quas culpa minima expedita! Et atque voluptatem commodi dolorum culpa harum obcaecati eos natus! Suscipit in nihil placeat perspiciatis accusamus earum sunt adipisci, esse illum consectetur eaque molestias vero quis dolor corrupti ullam consequatur accusantium fuga? Dignissimos praesentium ex et aspernatur aut consequuntur quo quis ad tenetur blanditiis in, optio culpa aliquam nihil sint tempore dicta commodi corporis labore!</p>

<%- include ("footer")  -%>
